*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Estilos universales */
    html body{
        min-height: 100vh;
    }    
    body{
        background: linear-gradient(to bottom, #15161B, #26283a, #4b5d77);
    }
    header{
        box-shadow: 0 0 30px whitesmoke;
    }
    #home{
        width: 50px;
        transition: 0.2s;
    }
        #home:hover{
            filter: drop-shadow(0 0 30px rgb(240, 234, 252));
            transform:scale(105%)
        }
/* ENCABEZADO */
    #logo{
        margin: 0 auto;
        width: 50%
    }

    h1{
        color:rgb(255, 239, 170) ;
        font-size: 35px;
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }

    #Nombre-logo{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    #Usuario{
        width: 90px;
    }

    header{
        display: flex;
        justify-content: space-between;
        background-color:
    }

    main{
        padding-top: 30px;
    }
    .links{
        color: black;
    }
    
    /* CUERPO */
            /* Navegacion */
            .Categorias{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                text-align: center;
                row-gap: 10%;
                margin-top: 3%;
            }

                .categoria img:hover{
                    filter: drop-shadow(0 0 30px rgb(240, 234, 252));
                    transform:scale(105%)
                }

            .categoria img{
                width: 30%;
                height: auto;
                transition: 0.2s;
            }
    /* Productos */
        h2{
            color: whitesmoke;
            font-size: 35px;
            line-height: 100px;
            font-family: "Orbitron", sans-serif;
            font-optical-sizing: auto;
            font-weight: <weight>;
            font-style: normal;
        }
        .Productos{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .productos-imagenes{
            width: 190px;
            height: 190px;
            object-fit: contain;
        }

/* Página de Mi Usuario  */
    /* Nombre de usuario y foto de perfil */
    #header-2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }


    #Mi-usuario{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    #Usuario1{
        width: 190px;
    }

    #NombreDeUsuario{
        color:rgb(255, 239, 170);
        font-size: 35px;
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        
    }
    /* Cuerpo */
        #mi-usuario-nav{
            display: grid;
            grid-template-columns: 2fr 2fr 2fr;
            grid-template-rows: 1fr 1fr 1fr;
            justify-items: center;
            gap: 5%;
        }

        button{
            background: transparent;
            border-color: whitesmoke;
            width: 70%;
            border-width: 3px;
            border-radius: 10px;
            font-size: 20px;
            padding: 10px;
            transition: 0.2s;
            margin-top: 5%;
            transition: 0.2s;
        }

            button:hover{
                box-shadow: 0px 0px 10px rgb(240, 234, 252);
                        transform:scale(105%)
            }
        .imagen-texto{
                display: flex;
                align-items: center;
                gap: 10px;
        }
        .iconos{
                width: 70px;
                height: 70px;
                object-fit: contain;
        }
        h4{
            color: whitesmoke;
        }
            
/* Páginas de productos */
    .pag-productos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 10%;
        margin-left: 5%;
    }
    .contenido{
        display: flex;
        gap: 10%;
        align-items: center;
        text-align: justify;
    }
    h3{
        font-size: 20px;
        color: rgb(255, 239, 170);
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        
    }
    p{
        color: whitesmoke;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .rating {
        color: rgb(255, 187, 98);
        font-size: 20px;
    }

    /* Acciones */
        .acciones{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: fit-content;
        }
        label{
            color: whitesmoke;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
        /* Botones */
            #Comprar{
                color: rgb(255, 239, 170);
                border-color: rgb(255, 239, 170);
                background-color: transparent;
                border-radius: 10px;
                font-size: 20px;
                padding: 10px;
                transition: 0.2s;
                margin-top: 5%;
            }
    
                #Comprar:hover{
                    box-shadow: 0px 0px 30px rgb(255, 187, 98);
                    transform:scale(105%)
                }

            #Carrito{
                color: whitesmoke;
                border-color: whitesmoke;
                background-color: transparent;
                border-radius: 10px;
                font-size: 20px;
                padding: 10px;
                transition: 0.2s;
                margin-top: 5%;
            }
        
                #Carrito:hover{
                    box-shadow: 0px 0px 10px rgb(240, 234, 252);
                    transform:scale(105%)
                }

            #Cantidad{
                color: whitesmoke;
                border-color: whitesmoke;
                background-color: transparent;
                border-radius: 10px;
                font-size: 20px;
                padding: 10px;
            }
    .extra{
        color: whitesmoke;
        width: 250px;
    }
    @media (max-width: 768px) {
        .pag-productos {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          justify-items: center;
        }
        .acciones{
            grid-row: 2;
        }
    }
/* Pie de página */
    footer{
        display: flex;
        justify-content: flex-start;
        gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 25px;
    margin-top: 20px;
    }
    footer img{
        width: 150px;
        height: auto;
    }
    .redes{
        display: flex;
        gap: 15px;
    }
    #Contacto{
    font-size: 20px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    }
    .contactos{
        width: 40px;
        height: 40px;
        object-fit: contain;
    } 