* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilos generales  */
body {
  background: linear-gradient(to bottom, #15161B, #26283a, #4b5d77);
}

html body {
  min-height: 100vh;
}

#home {
  width: 50px;
}
#home:hover {
  transition: 0.2s;
}
#home:hover:hover {
  filter: drop-shadow(0 0 10px rgb(240, 234, 252));
  transform: scale(105%);
}

header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 30px rgb(240, 234, 252);
}
header #logo {
  margin: 0 auto;
  width: 50%;
}
header h1 {
  color: rgb(255, 187, 98);
  color: rgb(240, 234, 252);
  text-decoration: none;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}

main {
  padding-top: 30px;
}

#Usuario {
  width: 50px;
  transition: 0.2s;
}
#Usuario:hover {
  filter: drop-shadow(0 0 10px rgb(240, 234, 252));
  transform: scale(105%);
}

.Categorias {
  grid-template-columns: repeat 3, 1fr;
  grid-template-rows: repeat 2, 1fr;
  text-align: center;
  row-gap: 10%;
  margin-top: 3%;
}
.Categorias img {
  width: 30%;
  height: auto;
  transition: 0.2s;
}
.Categorias img:hover {
  filter: drop-shadow(0 0 10px rgb(240, 234, 252));
  transform: scale(105%);
}

div p {
  color: rgb(240, 234, 252);
  text-decoration: none;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

h2 {
  color: rgb(240, 234, 252);
  color: rgb(240, 234, 252);
  text-decoration: none;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  line-height: 100px;
  filter: drop-shadow(0 0 10px rgb(240, 234, 252));
  display: flex;
  justify-content: center;
}

.Productos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.Productos img {
  width: 190px;
  height: 190px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 10px;
  border-color: rgb(240, 234, 252);
  transition: 0.2s;
}
.Productos img:hover {
  filter: drop-shadow(0 0 10px rgb(240, 234, 252));
  transform: scale(105%);
}

a, h3, h4 {
  text-decoration: none;
  color: rgb(240, 234, 252);
  text-decoration: none;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

#header-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-bottom: 10px;
}
#header-2 section .iconos {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
#header-2 section #NombreDeUsuario {
  color: rgb(240, 234, 252);
  text-decoration: none;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  color: rgb(255, 187, 98);
}
#header-2 section #Mi-usuario {
  display: flex;
  align-items: center;
  gap: 10px;
}

#mi-usuario-nav {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  gap: 5%;
}
#mi-usuario-nav button {
  background: transparent;
  background: transparent;
  border-color: rgb(240, 234, 252);
  width: 75%;
  border-width: 3px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5%;
  color: rgb(240, 234, 252);
  text-decoration: none;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  font-size: 20px;
  transition: 0.2s;
}
#mi-usuario-nav button:hover {
  filter: drop-shadow(0 0 10px rgb(240, 234, 252));
  transform: scale(105%);
}
#mi-usuario-nav .iconos {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
#mi-usuario-nav .imagen-texto {
  display: flex;
  align-items: center;
  gap: 10px;
}

.producto-muestra {
  width: 110%;
}

.pag-productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.info {
  text-align: justify;
}
.info h1 {
  color: rgb(240, 234, 252);
  text-decoration: none;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  color: rgb(255, 187, 98);
}
.info h3 {
  color: rgb(240, 234, 252);
  text-decoration: none;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: rgb(255, 187, 98);
}
.info p {
  color: rgb(240, 234, 252);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.info .rating {
  color: rgb(255, 187, 98);
  font-size: 20px;
}

.acciones {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.acciones label {
  color: rgb(240, 234, 252);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.acciones {
  margin-left: 10%;
}
.acciones #Carrito {
  background: transparent;
  border-color: rgb(240, 234, 252);
  width: 75%;
  border-width: 3px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5%;
  color: rgb(240, 234, 252);
  text-decoration: none;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  transition: 0.1s;
}
.acciones #Carrito:hover {
  box-shadow: 0px 0px 30px rgb(240, 234, 252);
  transform: scale(105%);
}
.acciones #Comprar {
  background: transparent;
  border-color: rgb(240, 234, 252);
  width: 75%;
  border-width: 3px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5%;
  color: rgb(240, 234, 252);
  text-decoration: none;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  transition: 0.1s;
  color: rgb(255, 187, 98);
  border-color: rgb(255, 187, 98);
}
.acciones #Comprar:hover {
  box-shadow: 0px 0px 30px rgb(255, 187, 98);
  transform: scale(105%);
}
.acciones #Cantidad {
  background: transparent;
  border-color: rgb(240, 234, 252);
  width: 75%;
  border-width: 3px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5%;
  color: rgb(240, 234, 252);
  text-decoration: none;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

@media (max-width: 768px) and (max-width: 768px) {
  .pag-productos .pag-productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .pag-productos .img {
    grid-column: 1;
    grid-row: 1;
  }
  .pag-productos .acciones {
    grid-column: 2;
    grid-row: 1;
  }
  .pag-productos .info {
    grid-column: 1/3;
    grid-row: 2;
  }
  .pag-productos .producto-muestra {
    width: 150%;
    height: auto;
  }
}
footer {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  color: rgb(240, 234, 252);
  text-decoration: none;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  color: rgb(240, 234, 252);
  box-shadow: 0 0 30px rgb(240, 234, 252);
  padding-top: 3%;
  margin-top: 10%;
}
footer img {
  width: 150px;
  height: auto;
}
footer h5 {
  font-size: 20px;
  color: rgb(240, 234, 252);
  text-decoration: none;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
footer a {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .redes {
  display: flex;
  gap: 15px;
}
@media (max-width: 768px) {
  footer {
    display: flex;
    flex-wrap: wrap;
  }
}

.contactos {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=styles.css.map */