@mixin tipografia($font-size){
    color:rgb(240, 234, 252) ;
    text-decoration: none;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: $font-size;
}

@mixin tipografia2{
    color: rgb(240, 234, 252);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

@mixin grilla($column, $row){
    grid-template-columns: $column;
    grid-template-rows: $row;
}

@mixin boton{
        background: transparent;
        border-color: rgb(240, 234, 252);
        width: 75%;
        border-width: 3px;
        border-radius: 10px;
        padding: 10px;
        margin-top: 5%;
        @include tipografia(20px);
}

@mixin hover1{
    transition: 0.2s;
    &:hover{
        filter: drop-shadow(0 0 10px rgb(240, 234, 252));
        transform:scale(105%)
    }
}

@mixin hover2 ($color){
    transition: 0.1s;
    &:hover{
        box-shadow: 0px 0px 30px $color;
        transform:scale(105%)
    }
}

@mixin flex{
    display: flex;
    justify-content: center;
}