@mixin tipografia{
    color: rgb(240, 234, 252);
    text-decoration: none;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin boton{
        background: transparent;
        border-color: rgb(240, 234, 252);
        width: 75%;
        border-width: 3px;
        border-radius: 10px;
        padding: 10px;
        transition: 0.2s;
        margin-top: 5%;
        transition: 0.2s;
        @include tipografia();
}

@mixin hover1{
    filter: drop-shadow(0 0 10px rgb(240, 234, 252));
    transform:scale(105%)
}

@mixin hover2{

}

@mixin flex{
    display: flex;
    justify-content: center;
}